<!-- this form will be used to add a new user and to edit an existing user -->
<%= form_for @user do |f| %>
  <div class="input">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="input">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="input">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

   <div class="input">
    <%= f.label :birthday %>
    <% if session[:current_user_id] %>
      <%= f.text_field :birthday, :value => current_user.birthday %>
    <% else %>
      <%= f.text_field :birthday, :value => "mm/dd/yyyy"  %>
    <% end %>
  </div>

<% if edit %>
  <div class="input">
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
 </div>
<% else %>
  <div class="input">
    <%= f.label :avatar %>
    <%= f.text_field :avatar, :value => 'https://placeholdr-app.herokuapp.com/boards/15/200/200' %>
 </div> 
<% end %>


  
<% if new_user %>
  <div class="input">
    <%= f.label :password %>
    <%= f.password_field :password %>
 </div>
  
  <div class="input">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
<% end %>

  <div id='characters'>
    <h2>Choose Your Chomper!</h2>
    <div class='radioCombo'>
      <img src='http://i.imgur.com/ZyF5VWM.png'><br>
      <%= f.radio_button(:chomper, "http://i.imgur.com/ZyF5VWM.png") %><br>
    </div>

    <div class='radioCombo'>
      <img src='http://i.imgur.com/xt8U22z.png'><br>
      <%= f.radio_button(:chomper, "http://i.imgur.com/xt8U22z.png") %>
    </div>

    <div class='radioCombo'>
      <img src='http://i.imgur.com/CIVVuQd.png'><br>
      <%= f.radio_button(:chomper, "http://i.imgur.com/CIVVuQd.png") %>
    </div>

    <div class='radioCombo'>
      <img src='http://i.imgur.com/AGd1G79.png'><br>
      <%= f.radio_button(:chomper, "http://i.imgur.com/AGd1G79.png") %>
    </div>

    <div class='radioCombo'>
      <img src='http://i.imgur.com/VBGfDmw.png'><br>
      <%= f.radio_button(:chomper, "http://i.imgur.com/VBGfDmw.png") %>
    </div>
  </div>

  <%= f.submit "Submit", :id=>"submit" %>
 
  <span id="cancel">
    <% if session[:current_user_id] %>
      <%= link_to "Cancel", user_path(@user) %>  | 
    <% else %>
     <%= link_to "Cancel", login_path %>
    <% end %>
    <% if delete %>
      <%= link_to "Delete User", user_path(@user), method: :delete %>
    <% end %>
  </span>
<% end %>