<div id="userScorecard">
	
		<h1 style="margin-top: -5px;">Scorecard</h1>
		<p style="text-align: center; margin-top: -20px; color: grey;">Last Logged In: <%= @user.updated_at %></p>
		<img src="<%= @user.avatar %>">
		<%= link_to "Edit User", edit_user_path(@user) %>
		
<div class="bio" style="text-align: left;">
		<div>
			<h2>Scoreboard</h2>
			<hr>
			<ol id="highscores">
				<% current_user.games.each do |g| %>
					<li>
						Category: <%= g.category %>, Score: <%= g.score %>
					</li>
				<% end %>
			</ol>
		</div>

		<div>
			<h2>Saved Questions</h2>
			<hr>
			<ul>
				<% SavedQuestion.where("user_id = ?", current_user.id).each do |sq| %>
				  <li><%= sq.question.html_safe %> -> <%= sq.answer.html_safe %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>